{% extends 'base.html' %}
{% block page_title %} Your Transaction Result {% endblock %}

{%  block main_content %}

    <div class="row center-block">
        <div class="col-md-6">

            <table class="table">
                <tr class="tab-pane">
                    <th class="alert-info">STATUS</th>
                    <th class="alert-info">STATUS TEXT</th>
                </tr>
                <tr>
                    <td>
                        {{ data_from_host.data_from_host.status }}
                    </td>
                    <td>
                        {{ data_from_host.data_from_host.responseText }}
                    </td>
                </tr>
            </table>

            <table class="table table-bordered">
                <tr>
                    <th class="alert-info"> Account Number:</th>
                    <td> {{ data_from_host.data_from_host.transaction_info.account_no }}</td>
                </tr>
                <tr>
                    <th class="alert-info"> Amount:</th>
                    <td> {{ data_from_host.data_from_host.transaction_info.amount }}</td>
                </tr>
            </table>

            <form class="form-group" method="POST" action="../host/withdraw_cash/">{% csrf_token %}
                <input type="hidden" class="form-control" name="transaction_id" value="{{ data_from_host.transactionId }}">
                {% if data_from_host.data_from_host.status == 200 %}
                    <input type="hidden" class="form-control" name="atm_id" value={{ data_from_host.data_from_host.atm }}>
                    <br><input type="submit" class="btn btn-success" value="WITHDWAW NOW">
                {% endif %}
            </form>
        </div>
    </div>



{% endblock %}
