{%  extends 'base.html' %}
{%  block main_content %}

    <div class="row center-block">
        <div class="col-md-5">
            <br><br>
            <form action="withdraw_to_app" method="POST">{% csrf_token %}
                <select class="form-control" name="atm">
                    {% for name in atm_option %}
                        <option>{{ name }}</option>
                    {% endfor %}
                </select><br>
                <input class="form-control" type="number" name="acc_no" maxlength="11" placeholder="Enter UPI PIN / Account Number"><br>
                <input class="form-control" type="number" name="amt" placeholder="Enter Amount">
                <br>
                <input type="submit"  class="btn btn-success" value="PROCEED">
                <input type="reset" class="btn btn-reset" value="CANCEL">
            </form>
        </div>
    </div>


{% endblock %}